header {
    background-image: url('https://i.imgur.com/brjHeVf.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
.title{
    color: white;
    margin-left: 100px;
    text-decoration: none;
}
.links {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    background-color: rgb(2, 0, 5);
    padding: 10px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.home{
    
    text-decoration: none;
}

.create{
   
    text-decoration: none;
}

.home-link{
    color: white;
}

.create-link{
    color: white;
}

.bonfire{
    display:flex;
    justify-content: center;
    z-index: 1;
}

.bonfire-title{
    background-image: url('https://thumbs.gfycat.com/ElegantColdHorsefly-size_restricted.gif');
    background-size: 200px;
    background-repeat: no-repeat;
    background-position-x: 160px;
    padding-bottom: 10px;
}